
@model SistemaBase.Models.DirecPersona

    @{
    ViewData["Title"] = "Create";
    Layout = "";
     string namecheck = "";
    }
    
 <div class="modal fade " id="detailsModal" tabindex="-1" aria-labelledby="detailsModallLabel" style="display: none;" aria-modal="true" role="dialog">
     <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="detailsModalLabel">DirecPersona</h5>
                 <button class="btn p-1" type="button"  data-bs-dismiss="modal" aria-label="Close" id="editmodal" ><svg class="svg-inline--fa fa-xmark fs--1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path></svg><!-- <span class="fas fa-times fs--1"></span> Font Awesome fontawesome.com --></button>
             </div>
             <div class="modal-body">
    <form asp-action="Create" id="FormModalCreate" onsubmit="submitforms(event,'Create', 'FormModalCreate')" class="mb-0">
    <div class="row g-0 mt-0 mb-0">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="CodPersona"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="CodPersona" />
                                                <span asp-validation-for="CodPersona" class="text-danger k-invalid-msg" data-for="CodPersona"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="CodDireccion"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="CodDireccion" />
                                                <span asp-validation-for="CodDireccion" class="text-danger k-invalid-msg" data-for="CodDireccion"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="TipDireccion"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="TipDireccion" />
                                                <span asp-validation-for="TipDireccion" class="text-danger k-invalid-msg" data-for="TipDireccion"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="CasillaCorreo"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="CasillaCorreo" />
                                                <span asp-validation-for="CasillaCorreo" class="text-danger k-invalid-msg" data-for="CasillaCorreo"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="CodigoPostal"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="CodigoPostal" />
                                                <span asp-validation-for="CodigoPostal" class="text-danger k-invalid-msg" data-for="CodigoPostal"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="Detalle"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="Detalle" />
                                                <span asp-validation-for="Detalle" class="text-danger k-invalid-msg" data-for="Detalle"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="CodPais"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="CodPais" />
                                                <span asp-validation-for="CodPais" class="text-danger k-invalid-msg" data-for="CodPais"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="CodProvincia"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="CodProvincia" />
                                                <span asp-validation-for="CodProvincia" class="text-danger k-invalid-msg" data-for="CodProvincia"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="CodCiudad"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="CodCiudad" />
                                                <span asp-validation-for="CodCiudad" class="text-danger k-invalid-msg" data-for="CodCiudad"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="CodBarrio"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="CodBarrio" />
                                                <span asp-validation-for="CodBarrio" class="text-danger k-invalid-msg" data-for="CodBarrio"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="PorDefecto"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="PorDefecto" />
                                                <span asp-validation-for="PorDefecto" class="text-danger k-invalid-msg" data-for="PorDefecto"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="DescripcionRef"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="DescripcionRef" />
                                                <span asp-validation-for="DescripcionRef" class="text-danger k-invalid-msg" data-for="DescripcionRef"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="Ciudad"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="Ciudad" />
                                                <span asp-validation-for="Ciudad" class="text-danger k-invalid-msg" data-for="Ciudad"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-control-label fs-0 subTitleModal " asp-for="Barrio"></label>
                                        </div>
                                        <div class="col-8">
                       <input class="form-control" asp-for="Barrio" />
                                                <span asp-validation-for="Barrio" class="text-danger k-invalid-msg" data-for="Barrio"></span>
                                        </div>
                                    </div>
                                </div>
 <div class="col-auto">
                                <div class="">
                                    <input type="hidden" asp-for="Rowid" />
                                </div>
                            </div>

                 <div class="text-center" id="loader_inv" style="visibility: hidden;">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
             </div>

    </div>


         


            <div class="modal-footer">
                <button class="btnAbm" type="submit">
                    <span class="btn-label"><i class="fa fa-save"></i></span> Guardar
                </button>

                <button class="btnAbmCancelar" type="button" data-bs-dismiss="modal">
                    <span class="btn-label"><i class="fa fa-remove"></i></span> Cancelar
                </button>
            </div>



            </form>






</div>
        </div>
    </div>
</div>

